<ion-header>
  <ion-toolbar>
    <ion-title>Check du jour</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
      <ion-grid class="ion-text-center">
        <form [formGroup]="dailyCheckForm" (submit)="saveDailyCheck()">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-title><ion-icon color="danger" size="medium" name="thermometer-outline"></ion-icon>&nbsp;Temperature</ion-card-title>
              <ion-card-subtitle>Quelle est votre température ?</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-input type="number" placeholder="exemple : 37.5" formControlName="temperature" required></ion-input>
            </ion-card-content>
          </ion-card>
        <hr>
        <ion-card #poux class="ion-text-center">
          <ion-card-header>
            <ion-card-title><ion-icon color="warning" size="medium" name="pulse-outline" ></ion-icon>&nbsp;Poux</ion-card-title>
            <ion-card-subtitle>Quel est votre pouls ?</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-input type="number" placeholder="exemple : 37.5" formControlName="poux" required></ion-input>
          </ion-card-content>
        </ion-card>
        <hr>
        <ion-card #fatigue class="ion-text-center">
          <ion-card-header>
            <ion-card-title><ion-icon color="success" size="medium" name="battery-half-outline"></ion-icon>&nbsp;Fatigue</ion-card-title>
            <ion-card-subtitle>Ressentez-vous de la fatigue ? </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-list>
              <ion-radio-group value="biff" formControlName="fatigue" required>
                <ion-item>
                  <ion-label>Pas du tout</ion-label>
                  <ion-radio color="success" slot="start" value="0"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Un peu</ion-label>
                  <ion-radio color="warning" slot="start" value="1"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Beaucoup</ion-label>
                  <ion-radio color="danger" slot="start" value="2"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <hr>
        <ion-card #commentaire class="ion-text-center">
          <ion-card-header>
            <ion-card-title><ion-icon color="primary" size="medium" name="pencil-outline"></ion-icon>&nbsp;Ressentis</ion-card-title>
            <ion-card-subtitle>Vous pouvez ajouter un commentaire ou une remarque sur votre état de santé.</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-textarea placeholder="Par exemple : Aujourd'hui de légers maux de ventre..." formControlName="mood" required></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>

      <ion-button type="submit" fill="outline" expand="large" shape="round">Enregistrer</ion-button>
      </form>
    </ion-grid>
  </ion-content>
