<ion-app>
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu&nbsp;<ion-icon ios="happy-outline" size="large" md="happy-sharp" color="success"></ion-icon></ion-list-header>
          <ion-note class="ion-text-center" *ngIf="auth.isAuthenticated()">{{data['Email']}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" >
            <ion-item *ngIf="auth.isAuthenticated() && isShow(p,data['Role'])" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" [color]="p.color"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>

 
</ion-app>