<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Appel vidéo avec zoom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="data != null">
  <ion-card>
    <ion-card-header color="warning">
      <ion-text>Ce que vous pouvez faire : </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngIf="data['Role'] == 'A' || data['Role'] == 'M'">Créer une réunion zoom</li>
        <li>Rejoindre une réunion zoom</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="data['Role'] == 'A' || data['Role'] == 'M' ">
    <ion-card-header color="primary">
      Création d'une réunion zoom (vous devez posséder un compte zoom)
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <a target="_blank" [href]="url">Je n'ai pas de compte zoom.</a>
        <ion-button type="submit" expand="block" fill="outline" shape="round" href="https://zoom.us/signup">
          Créer
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="data['Role'] == 'A' || data['Role'] == 'M' ">
    <form [formGroup]="zoomForm" (submit)="submitFormZoom()">
      <ion-card-header color="secondary">
        Insérer le lien ( url ) de l'appelle zoom puis sélectionner le patient avec lequel vous souhaitez passer
        l'appel.
      </ion-card-header>
      <ion-card-content>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Lien&nbsp;<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required type="text" formControlName="url"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Patient&nbsp;<ion-text color="danger">*</ion-text></ion-label>
            <ion-select required formControlName="patientid" placeholder="Sélectionnez un patient">
              <ion-select-option *ngFor="let patient of patients" [value]="patient.idUser">
                {{patient.LastName | uppercase}}&nbsp;{{patient.FirstName}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-button type="submit" expand="block" fill="outline" shape="round">
          Envoyer
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-card *ngIf="auth.data['Role'] == 'A' || auth.data['Role'] == 'P'">
    <ion-card-header color="success">
      Cliquez sur le lien pour rejoindre la consultation
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>Lien :&nbsp;<a target="_blank" [href]="url">{{url}}</a></ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>