<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-col size-sm="12">
      <ion-text>
        <h1>Bonjour <ion-text *ngIf="auth.isAuthenticated() && data != null" color="primary">{{data['FirstName']}}
          </ion-text>
        </h1>
      </ion-text>
    </ion-col>
    <div *ngIf="auth.isAuthenticated()">
      <ion-col size-sm="12">
        <ion-text>
          <h2>
            Comment vous sentez-vous aujourd'hui ?
          </h2>
        </ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text>
          <h1>
            <ion-icon size="large" color="danger" name="heart-outline"></ion-icon>
          </h1>
        </ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text>
          <h2>
            <ion-button size="large" shape="round" fill="outline" [routerLink]="['/dailycheck']">Prendre mes mesures
            </ion-button>
          </h2>
        </ion-text>
      </ion-col>
    </div>
    <div *ngIf="!auth.isAuthenticated()">
      <ion-col size-sm="12">
        <ion-text>
          <h2>
            Veuillez vous connectez avant de continuer
          </h2>
        </ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text>
          <h2>
            <ion-button size="large" shape="round" fill="outline" [routerLink]="['/login']">Me connecter</ion-button>
          </h2>
        </ion-text>
      </ion-col>
    </div>
  </ion-grid>
</ion-content>